@use 'constants' as c;
@use 'sass:math';

$player-board-height: 80vh;
$dangerous-water-height: 10vh;
$op-area: opponent-area;
$dang-area: dangerous-water;
$player-area: player-area;
$nav-area: nav-area;

$n-size: 10;

// battle ship grid
%bs-grid {
  padding: 3%;
  margin: 0 0;

  background-color: #142b94f1;

  display: grid;
  grid: 
    repeat($n-size, 1fr)
    / repeat($n-size, 1fr);
  gap: 3px;

  div {
    background-color: rgb(212, 75, 139);
  }
}

.board-area {
  margin-top: c.$banner_height;
  margin-left: c.$nav-width;

  background-color: cadetblue;

  // grid contaienr properties
  display: grid;
  grid:
    [row1-start] "#{$op-area}" c.$player-board-height [row1-end]
    [row2-start] "#{$dang-area}" c.$dangerous-water-height [row2-end]
    [row3-start] "#{$player-area}" c.$player-board-height [row3-end]
    / auto;


  .opponent {
    @extend %bs-grid;

    // grid item props
    grid-area: $op-area;

  }

  .dangerous-water {
    // grid item props
    grid-area: $dang-area;

  }

  .player {
    @extend %bs-grid;

    // grid item props
    grid-area: $player-area;
  }

}